In [1]:
!pwd

/home/sjt/space/github-page/code/metadata

In [2]:
import os
import pandas as pd

In [3]:
book = pd.read_csv('/home/sjt/space/github-page/data/media/책.tsv', sep='\t')

In [4]:
book

                  isbn                    제목     분류  완독 여부
0    978-89-449-8469-3              식물과학의 이해   생명과학      0
1    979-11-5943-187-6          유전체 데이터 분석 2   생명과학      0
2    979-11-6226-354-9               언어와 언어학     언어      0
3    979-11-85305-94-3             유전체데이터분석1   생명과학      0
4    979-11-5664-575-9  쉽게 배우는 자료구조 with 파이썬  정보/통신      0
..                 ...                   ...    ...    ...
106                NaN           파이썬 웹 프로그래밍  정보/통신      0
107                NaN       파이썬으로 웹 크롤러 만들기  정보/통신      0
108                NaN      파이썬 데이터 사이언스 핸드북  정보/통신      0
109                NaN            유닉스 이론과 실습  정보/통신      0
110                NaN                노화의 종말     문학      0

[111 rows x 4 columns]

In [44]:
book[book['제목'].str.contains('데미안')]

   isbn   제목  분류  완독 여부
30  NaN  데미안  문학      1

In [ ]:
천번을 흔들려야 어른이 된다
참을 수 없는 존재의 가벼움
이야기 인문학
친절한 인문학 길잡이
나는 세계일주로 경제를 배웠다
하버드의 생각수업
마시멜로 이야기
시를 잊은 그대에게
홍길동전
호밀밭의 파수꾼
하악하악
위너 브레인
마음을 움직이는 승부사 제갈량
새장에 갇힌 새가 왜 노래하는지 나는 아네